<div class='dashboard'>
  <aside class='site-stats'>
    <h3 class="stats-title">Site Stats</h3>
    <div class="side-bar-stats">
      <table>
        <tr>
          <th>Article Count</th>
          <th>User Count</th>
        </tr>
        <tr>
          <td>3</td>
          <td>4</td>
        </tr>
      </table>
    </div>
  </aside>
  <section>
    <h3>Users</h3>
    <div class='user'>
      John
      <button>Make Admin</button>
    </div>
  </section>
    <section>
    <h3>Admins</h3>
    <div class='admin'>
      John
      <button>Remove Admin</button>
    </div>
  </section>

</div>
