<div class='dashboard'>
  <aside class='site-stats'>

  </aside>
  <section>
    <h3>Users</h3>
    <div class='user'>
      John
      <button>Make Admin</button>
    </div>
  </section>
    <section>
    <h3>Admins</h3>
    <div class='admin'>
      John
      <button>Remove Admin</button>
    </div>
  </section>

</div>
