
<h2>Create a New Cereal Article</h2>
<form style="width: 700px;" action="/articles" method="post">
  <label for="title">Cereal Name:</label>
  <input name="title" value="">
  <input type="submit">
</form>

