<script src="//cdn.ckeditor.com/4.5.8/full/ckeditor.js"></script>
<form style="width: 700px;" class="editor" action="/revisions" method="post">
  <textarea name="editor"></textarea>
  <script>CKEDITOR.replace( 'editor' );
  </script>
</form>
