.dashboard {
  width: 80%;
  margin: 0 auto;
  clear: both;
  padding: 10px;
  box-sizing: border-box;
  height: 900px;

}

.site-stats {
  float: left;
  width: 30%;
  border: 1px solid #000;
  height: 500px;
  padding: 10px;
  background-color: #ffee58;

}



.user-admin {
  float: right;
  width: 60%;
  border: 1px solid #000;
  height: 500px;
  padding: 10px;
  background-color: #ffee58;
}

.name {
  width: 70%;
}

.action {
  width: 30%;
}

#col1 {
  float:left;
  width:50%;
  position:relative;
  /*left:52%;*/
  overflow:hidden;
  padding-top: 15px;
}

.spacing {
  height: 150px;
}

.button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
  }

  .button.grey {
    background-color: #eee;
  }


/*.user {
  border: 1px solid #000;
  height: 200px;
  padding: 10px;
}*/

/*.admin {
  border: 1px solid #000;
  height: 200px;
  padding: 10px;
}*/

