.layout_inner{
  width: 720px;
  margin: auto;
  height: 100px;
  text-align: center;
}

.layout nav {
  font-family: "Times New Roman", Georgia, Serif;
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 5px;
}

.layout h1 {
  font-family: "Righteous", Georgia, Serif;
  font-size: 3em;
  display: inline-block;
}

.layout{
  position: relative;
  width: 100%;
  background-color: rgb(251, 234, 80);
  width: 100%;
  -webkit-box-shadow: 0 6px 4px -4px black;
  -moz-box-shadow: 0 6px 4px -4px black;
  box-shadow: 0 6px 4px -4px black;
}

.rev-heading {
  text-align: center;
  width: 800px;
  margin: auto;
}

.article-body-container {
  width: 900px;
  margin: auto;
}

#revision-history {
  font-size: 18px;
  position: relative;
  bottom: 9px;
}



