.layout_inner{
  position: relative;
  width: 900px;
  margin: auto;
  height: 100px;
  border: 1px solid black;
}

.layout nav {
  font-family: "Times New Roman", Georgia, Serif;
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: inline-block;
}

.layout h1 {
  font-family: "Times New Roman", Georgia, Serif;
  position: absolute;
  left: 15px;
  font-size: 3em;
  display: inline-block;
}

.layout{
  width: 100%;
  border: solid 1px black;
}

.rev-heading {
  text-align: center;
  width: 800px;
  margin: auto;
}

.article-body-container {
  width: 900px;
  margin: auto;
}

#revision-history {
  font-size: 18px;
  position: relative;
  bottom: 9px;
}
