
.revision_body{
  width: 900px;
  margin: auto;
}
#revision_show{
  position: relative;
  margin-top: 30px;
}
.revision_links{
  width: 900px;
  margin: auto;
  text-align: center;
}

.revision_links p{
  margin: 2px;
  padding: 5px;
  display:inline-block;
}

#revision_show h3{
  font-size: 2em;
  width: 900px;
  text-align: center;
  margin:auto;
}

.new_article h2 {
  text-align: center;
}

#notice {
  font-size: 15px;
  color: rgb(253, 90, 78);
  text-align: center;
}

#do-not-delete {
  position: relative;
  bottom: 5px;
  font-size: 15px;
  color: rgb(253, 90, 78);
  text-align: center;
}

.sections {
  padding-right: 15px;
  padding-left: 15px;
  border: 3px rgb(253, 90, 78) solid;
  border-radius: 3px;
  text-align: left;
  position: absolute;
  top: 85px;
  left: 60px;
}

.sections h4 {
  text-align: center;
  color: rgb(253, 90, 78);
}

.revision_body {
  padding: 4px;
  background-color: white;
  border: 2px white solid;
  border-radius: 4px;
}
